
<!-- Not for full page, segments that are used for feature release (song/video/etc); For consistency -->


<!-- fr_SONG_v1 (Feb2025-) -->
<a href="song/tattlock" id="clickable-featured-release">
    <section id="featured-release">
            <img id="featured-image" src="images/tattlock.jpg" alt="Featured Release">
            <h2 id="featured-title">TattLock (Single)</h2>
            <p>Released: January 1st, 2025</p>
            <p>Starting off 2025 right with TattLock, by TattLock, off the upcoming TattLock album</p>
        <audio id="audio-player" controls controlsList="nodownload" onclick="event.preventDefault(); event.stopPropagation();" >
            <source src="audio/tattlock.mp3" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </section>
</a>