<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JV85Z5FBEB"></script>
    <script>
    if (window.location.hostname !== "localhost") {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-JV85Z5FBEB');
    }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Ask Me Again - TattLock</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header>
        <a href="/" class="back">&larr; Back</a>
        <img src="/images/headers/dama_header.png" alt="Don't Ask Me Again">
    </header>
    
    <main>
        <img src="/images/dama.jpg" alt="Don't Ask Me Again">
        <p>Debut single</p>

        <ul class="links">
            <li>
                <a href="https://open.spotify.com/album/3XxNBSGxBtkaIlh0Ejgl17?si=jOpOjLO2TRuWDCP9iMHrQA">
                    <img src="/images/logos/spotify.png" alt="Spotify" class="logo">
                </a>
            </li>
            <li>
                <a href="https://music.apple.com/us/album/dont-ask-me-again-single/1777361354">
                    <img src="/images/logos/apple_music.png" alt="iTunes" class="logo">
                </a>
            </li>
            <li>
                <a href="https://youtube.com/playlist?list=OLAK5uy_kIe72rBEfc3cLNZsNfeWCqk_rDB0VEvaw&si=iwrUE3odayo2Q1V8">
                    <img src="/images/logos/youtube_music.png" alt="YouTube" class="logo">
                </a>
            </li>
            <li>
                <a href="https://distrokid.com/hyperfollow/tattlock/dont-ask-me-again">
                    <img src="/images/logos/distrokid.png" alt="DistroKid" class="logo">
                </a>
            </li>
        </ul>
    </main>
</body>
</html>